.container {
    max-width: 1280px;
    height: 100vh;
    background-color: #344C11;
    margin: 0 auto;
    padding: 90px 0;
}
.form {
    width: 448px;
    margin: auto;
    background-color: #AEC09A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    color: #344C11;
}
.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.title {
    margin-bottom: 48px;
    font-size: 24px;
}
.label {
    margin-bottom: 8px;
    font-size: 14px;
}
.input, .btn {
    padding: 6px 11px;
    border-radius: 6px;
    border: 2px solid #344C11;
}
.btn {
    cursor: pointer;
    padding: 4px 15px;
    margin: 32px 0;
    background-color: #344C11;
    color: #FFF;
}